{% extends "base.njk" %}

{% block content %}
  <h1>Tablones disponibles</h1>
  <ul>
    {% for board in boards %}
      <li>
        <a href="/boards/{{ board.id }}">
          {{ board.name }} - {{ board.description }}
        </a>
      </li>
    {% else %}
      <li>No hay tablones disponibles.</li>
    {% endfor %}
  </ul>
{% endblock %}

