{% extends "base.njk" %}

{% block content %}
    {%include "boards.njk" %}
    <h1>Board</h1>
    {%include "fromPosts.njk" %}
    <p>{{ board.name }}</p>
    <p>{{posts[0].content}}</p>
    {% for post in posts %}
        <p><strong>{{ post.title }}</strong></p>
        <p>{{ post.content }}</p>
        <p>Creado por: {{ post.user.username }}</p>
    {% endfor %}
{% endblock %}