{% extends "base.njk" %}

{% block content %}
  <h1>Perfil</h1>
  {% include "boards.njk" %}
  <p>Bienvenido, {{ user }}!</p>
  <button onclick ="location.href='/auth/logout'">Cerrar sesión</button>
{% endblock %}
