{% extends "base.njk" %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>pass</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.pass }}</td>
        </tr>
        {% endfor %}
    </tbody>    
</table>
{% endblock %}