{% extends "base.njk" %}
{% block content %}
    <div class="unauthorized">
        <h1>Unauthorized</h1>
        <p>You do not have permission to access this page.</p>
        <button type="submit" hx-get="/login" hx-target="body">Go Back Home</button>
    </div>
{% endblock %}
